<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <br>
    <h3 align="center" class="mct">Procedure</h3>
    <div style="margin-left:35px;width:auto;margin-right: 35px;"class="my-container" id="experiment-article-section-1-content">  
        <br><br>  
        <olstyle="margin-left: 0; padding-left: 20px;"type="I"></olstyle>

        <b>BJT Common Base - Input Characteristics</b>

       
        <olstyle="margin-left: 0; padding-left: 20px;>
               <li>Initially set rheostat R<sub>h1</sub> = 1 Ω and rheostat R<sub>h2</sub> = 1 Ω </li>
        <li>Set the Collector-Base Voltage(V<sub>CB</sub>) to 1 V  by adjusting the rheostat  R<sub>h2</sub></li>
        <li> Base Emitter Voltage(V<sub>BE</sub>) is varied  by adjusting the rheostat  R<sub>h1</sub>.</li>
        <li>Note the reading of emitter current(I<sub>E</sub>)in m Ampere.</li>
        <li>Click on 'Plot' to plot the I-V characteristics of Common-Base configuration. A graph is drawn with VBE along X-axis and IE along Y-axis.</li>
        <li>Click on 'Clear' button to take another sets of readings</li> 
        <li>Now set the Collector-Emitter Voltage(V<sub>CB</sub>) to 2 V, 3 V, 4 V</li>
        
               
                <div align="center">
                    <p>
                        <img src="http://vlabs.iitkgp.ac.in/be/exp12/image/bjtcb_pr.png" style="width:450px;height:300px">
                    </p><br>
                    Figure:1
                </div><br><br>

            </olstyle="margin-left: 0; padding-left: 20px;>
            
        </ol>
              
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>