<!-- footer tag -->
<!-- </div> -->
<!-- </section> -->


      <!-- </div> -->
<!-- <div class="blockquote-footer container-fluid"  style="text-align: center; padding-top: 500px;" >
    Minor project demo. </p>
   </div> -->


<!-- loading animation -->
<!-- </div> -->
<div class="loader-wrapper">
  <span class="loader">
    <span class="loader-inner"></span>
  </span>
</div>

<script>
  $(window).on("load",function(){
  $(".loader-wrapper").fadeOut("slow");
  }); 
</script>
<!-- <script src="./js/forwardbiaseddiode_si.js"></script>
 <script src="./js/switchforwardtoreverse_si.js"></script> -->
 
		   <script src="./js/cktconnection_frwdsi.js"></script>
<script src="./js/cktconnection_halfwv.js"></script>
<script src="./js/cktconnection_fullwv.js"></script>
<script src="./js/cktconnection_hpf.js"></script>
<script src="./js/cktconnection_lpf.js"></script>
<script src="./js/cktconnection_ceamp.js"></script>
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>

</body>
</html>