<!DOCTYPE html>
<html>
    <!-- some scripts -->
    <title>Basic Electronics</title>
    <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/stylesheets/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- google font -->

        <!-- cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/loader.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/stylesheets/app.css" rel="stylesheet">   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" id="">
        </script>
        
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/loader.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link href="/stylesheets/app.css" rel="stylesheet">   
        <script src="/Js/loader.js"></script>
      </head>
  <body>
    <!-- nav bar -->
    <div id="particles-js">
        <!-- <div class="container-fluid content col-8 "> 
        <img align="right" src="/images/nituk_logo.jpg" alt="">  
        </div>        -->
          <!-- <a href="https://nituk.ac.in"> </a>  -->
                <!-- nav bar -->
                <nav class="navbar navbar-expand-lg ">
                  <div class="container-fluid">
                    <!-- <a class="navbar-brand" href="#">
                      <img src="/images/nituk_banner.png" alt="" / class="center">
                    </a> -->
                    <button class="navbar-toggler" color="black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span style="color:rgb(0, 0, 0);" class="navbar-toggler-icon">
                      </span>
                    </button>
                  </div>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <div style="width: 100%">
                      <img src="/images/nituklogo.png" width="80" height="50" style="position: absolute;
                      left: 40px;
                      top: 10px;">
                    </div>
                    <ul class="navbar-nav" style="font-size:20px;">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home"> <b class="nav-item-1">HOME</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/experiment"> <b class="nav-item-1">LABS </b></a>
                      </li>
                      <!-- 1<li class="nav-item">
                          <1a class="nav-link"  href="/logout">Logout </1a>
                        <1/li> -->
                      <!-- </ul> -->
                      <!--1 </div> -->
                  </div>
                </nav>
              </div>
                <!-- <div class="container pb-lg-1">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="/experiment">Labs</a></li>
                        
                      </ol>
                    </nav>
             </div> -->
        
            
            
           
         