<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <br>
    <h3 align="center" class="mct">Procedure</h3>
    <div style="margin-left:35px;width:auto;margin-right: 35px;"class="my-container" id="experiment-article-section-1-content">  
        <br><br>  
        <olstyle="margin-left: 0; padding-left: 20px;"type="I"></olstyle>

        
            <b>BJT Common Base - Output Characteristics</b>
            <olstyle="margin-left: 0; padding-left: 20px;>
                 <li>Initially set rheostat R<sub>h1</sub> = 1 Ω and rheostat R<sub>h2</sub> = 1 Ω </li>
     <li>Set the Emitter current(I<sub>E</sub>)1 mA by adjusting the rheostat R<sub>h1</sub> </li>
                <li>Vary the  Collector-Base Voltage(V<sub>CB</sub>)is varied  by adjusting the rheostat R<sub>h2</sub>.</li>
                <li>Note the reading of Collector current(I<sub>C</sub>).</li>
                <li>Click on 'Plot' to plot the I-V characteristics of Common-Base configuration. A graph is drawn with V<sub>CB</sub> along X-axis and I<sub>C</sub> along Y-axis.</li>
                <li>Click on 'Clear' button to take another sets of readings</li>
                <li>Now set the Emitter Current(I<sub>E</sub>) to 2 mA</li>
                <div align="center">
                    <p>
                        <img src="http://vlabs.iitkgp.ac.in/be/exp12/image/bjtcb_pr.png" style="width:450px;height:300px">
                    </p><br>
                    Figure:1
                </div><br><br>
            </ol>
        </ol>
              
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>