<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <div class="text-center fix-spacing">
        <br>
        <h2 id="half-wave-rectification--------" class="mct">Half Wave Rectification  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </h2>
    
      </div>
      <div style="margin-left:35px;width:auto;margin-right: 35px;"class="my-container" id="experiment-article-section-1-content">  
        <br><br>
    <ol>
        <h3 id="procedure">Procedure</h3>
    <li>1.Set the resistor R<sub>L</sub>.</li>
    <li>2.Click on 'ON' button to start the experiment.</li>
    <li>3Click on 'Sine Wave' button to generate input waveform</li>
    <li>4.Click on 'Oscilloscope' button to get the rectified output.</li>
    <li>5.Vary the Amplitude, Frequency, volt/div using the controllers.</li>
    <li>6.Click on "Dual" button to observe both the waveform.</li>
    <li>7.Channel 1 shows the input sine waveform, Channel 2 shows the output rectified waveform.</li>
    <li>8.Calculate the Ripple Factor.Theoretical Ripple Factor= 1.21.</li>
    </ol>
    <div align="center">
    <img src="./images/hlfwvr.png" style="width:400px;height:300px">
    <p>Figure:1</p>
    </div>
  </div>
    <%- include ('../../partials/footer') %>










