<%- include ('./partials/header') %>


  <div class="my-container">


      <div class="mct">
        <h3><u><b>LABS</b></u></h3>
      </div>

    <div class="container col-10 pt-5">
      <div class="ela">
        <table class=" container-fluid">
          <tr>
            <th>BASIC ELECTRONICS </th>
          </tr>

          <%for(var i=1;i<=experiments.length;i++){ %>
            <tr>
              <td>

                <a href="index/<%=i%>" id="exp" style="color: white; text-decoration: none;"> <%=experiments[i-1]%> </a>
              </td>
            </tr>
            <% } %>

        </table>
      </div>
    </div>
    <script>
      var inps = document.getElementsByTagName('input');

      submitForm = function (expvalue) {
        alert(expvalue);
        for (var j = 0; j < inps.length; j++) {
          inps[j].value = expvalue;

        }
        document.getElementById('Fm').submit();
      };
    </script>

    <%- include ('./partials/footer') %>