<!DOCTYPE html>
<html lang="en" data-theme="dark">
<!-- some scripts -->
<title>NITUK-VLABS</title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/stylesheets/style.css">
  
  <!-- google font -->

  <!-- cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/loader.css">
  <link rel="icon" href="/images/nituk_logo.jpg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="/Js/loader.js"></script>

</head>

<body>
 
  
  <!-- particles.js container -->
  <div id="particles-js">
    
  <!-- 1<div class="container-fluid content col-8 "> -->
    <!-- <a href="https://nituk.ac.in"> </a> -->
    <!-- 1nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">
          <img src="/images/nituk_banner.png" alt="" / class="center">
        </a> -->
        <button class="navbar-toggler" color="black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span style="color:rgb(161, 76, 230)" class="navbar-toggler-icon">
          </span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" style="font-size:20px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"> <b>HOME</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/experiment"> <b>LABS </b></a>
            </li>
            <!-- 1<li class="nav-item">
              <1a class="nav-link"  href="/logout">Logout </1a>
            <1/li> -->
          <!-- </ul> -->
        <!--1 </div> -->
      </div>
    </nav>
  </div>
    <!-- <div class="container pb-xl-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">HOME</li> -->
          <!--<li class="breadcrumb-item"><a href="./ELECTRONICS/experiment.html">Labs</a></li> -->
        <!-- </ol>
      </nav>
    </div> -->
  </div>
  <!-- ------------------------------------------------ -->
  <div class="container-fluid"
    style="background-color: rgb(0, 0, 0); font-size: large; color:rgb(252, 252, 252); font-family: 'Times New Roman', Times, serif;">
    <p style="font-size: 24px;" class="sliding">
      <marquee behavior="scroll" direction="left" scrollamount="8">
        Welcome to NITUK Virtual Lab. </marquee>
    </p>
  </div>
  <div class="container-fluid" style="line-height: 1.6; font-size: 17.5px;">
    <div class="d-inline-flex" style="glyph-orientation-vertical: inherit;">
    </div>
    <h3><u><b>Introduction</b></u></h3>
    <p>
      The Virtual Labs Project started as an initiative from the Ministry of Human Resource and Development (MHRD) to
      create online interactive media which would help students learn difficult concepts in various domains. As a part
      of this initiative, a virtual laboratory for Basic Electronics has been developed. The objective of this lab is to
      perform experiments in the Basic Electronics labs virtually, and yet have close to real life experience. The
      platform is focused on learning aspects as much as on performing the experiments.
    </p>
    <h3><u><b>Virtual Labs for Teachers</b></u></h3>
    <p>
      Virtual Labs has the potential to bring paradigm shift in the way courses are taught today.For example, the
      teachers can take it to the class and demonstrate live examples while they are teaching difficult concepts to the
      students. Many difficult concepts are already integrated in the provided course icurriculum. It can also
      complement the existing labs, wherein the students can be given assignments before or after the lab. The teacher
      can actively coordinate that effort to enable inclusive learning for all the students.
    </p>
    <h3><u><b>
      Virtual Labs for Students
    </b></u></h3>
    <p>
      Students will get a feel of the real lab, as all lab equipment, components and lab behavior would be mimicked in
      the system. Extensive 2D animations is used to provide real like look and feel to the students. The instruments
      and components are modeled accurately to provide real like response. Interactive animations are also provided at a
      lot of places to enable student learning.
    </p>
    <h3><u><b>
      Key features of Virtual Labs
    </b></u></h3>

    <ulstyle="margin-left: 0; padding-left: 20px;">
    <li>Available 24X7. So students can learn difficult concepts at their own pace.</li>
    <li>Real looking components, to give the user a feel of the real laboratory.</ll>
    <li>Step by step wizard to guide the students through the experiments.</li>
  </ul>


  </div>
  
  <!-- footer -->

  <footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
      <div class="row">
        <div class="fixed-top position-relative col-5" align="left">

          <p class="mb-0">Currently under Development</p>
          <p class="mb-0">Test project.
          <div _ngcontent-amu-c4="" class=" blockquote-footer  footer-col contact-us">
            <div _ngcontent-amu-c4="" class="default-heading">
              <h2 _ngcontent-amu-c4="">Contact Us</h2>
            </div>
            <!---->
            <div _ngcontent-amu-c4="">
              <ulstyle="margin-left: 0; padding-left: 20px;">
                <li><em class="fa fa-map-marker">&nbsp;</em><a href="https://nituk.ac.in" target="_blank"
                    rel="noopener">National Institute of Technology, Uttarakhand INDIA - 246174</a>
                </li>
                <li><em class="fa fa-phone">&nbsp;</em><a>+91-111-11111</a></li>
                <li><em class="fa fa-envelope-o">&nbsp;</em><a>Email: </a></li>
              </ul>
            </div>
            <!---->
          </div>
        </div>
        <div class="col-2">
          <!-- Empty col -->
        </div>
        <!-- <div class="col-4">
          <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                src="https://www.google.com/maps/place/National+Institute+of+Technology+(NIT),+Uttarakhand/@30.2183561,78.7642528,17z/data=!4m10!1m2!2m1!1snit+uttarakhand!3m6!1s0x3909a58ccb80117b:0xcee2001e72064afd!8m2!3d30.2184454!4d78.7669899!15sCg9uaXQgdXR0YXJha2hhbmSSARR0ZWNobmljYWxfdW5pdmVyc2l0eeABAA!16s%2Fm%2F0wbh4nl?entry=ttu" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
              <style>
                .mapouter {
                  position: relative;
                  text-align: right;
                  height: 300px;
                  width: 400px;
                }
              </style><a href="https://www.embedgooglemap.net"></a>
              <style>
                .gmap_canvas {
                  overflow: hidden;
                  background: none !important;
                  height: 300px;
                  width: 400px;
                }
              </style>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </footer>


  <!-- scripts -->
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>

<!-- stats.js -->
<!-- <script src="/js/stats.js"></script>
<script>
  var count_particles, stats, update;
  stats = new Stats;
  stats.setMode(0);
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.left = '0px';
  stats.domElement.style.top = '0px';
  document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles');
  update = function() {
    stats.begin();
    stats.end();
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
    }
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
</script> -->

</body>

</html>