<!DOCTYPE html>
<html lang="en" data-theme="dark">
<!-- some scripts -->
<title>NITUK-VLABS</title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/stylesheets/style.css">

  <!-- google font -->

  <!-- cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/loader.css">
  <link rel="icon" href="/images/nituk_logo.jpg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="/Js/loader.js"></script>

</head>

<body>


  <!-- particles.js container -->
  <div id="particles-js">

    <!-- <div class="container-fluid content col-8 "> -->
    <!-- <a href="https://nituk.ac.in"> </a> -->
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">
          <img src="/images/nituk_banner.png" alt="" / class="center">
        </a> -->
        <button class="navbar-toggler" color="black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span style="color:rgb(0, 0, 0);" class="navbar-toggler-icon">
          </span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div style="width: 100%">
          <img src="/images/nituklogo.png" width="80" height="50" style="position: absolute;
          left: 40px;
          top: 10px;">
        </div>
        <ul class="navbar-nav" style="font-size:20px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <b class="nav-item-1">HOME</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/experiment"> <b class="nav-item-1">LABS </b></a>
          </li>
          <!-- 1<li class="nav-item">
              <1a class="nav-link"  href="/logout">Logout </1a>
            <1/li> -->
          <!-- </ul> -->
          <!--1 </div> -->
      </div>
    </nav>
  </div>
  <!-- <div class="container pb-xl-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">HOME</li> -->
  <!--<li class="breadcrumb-item"><a href="./ELECTRONICS/experiment.html">Labs</a></li> -->
  <!-- </ol>
      </nav>
    </div> -->
  <!-- ------------------------------------------------ -->
  <div class="container-fluid"
    style="background-color: rgb(0, 0, 0); font-size: large; color:rgb(252, 252, 252); font-family: 'Times New Roman', Times, serif;">
    <p style="font-size: 24px;" class="sliding">
      <marquee behavior="scroll" direction="left" scrollamount="8">
        Welcome to NITUK Virtual Lab. </marquee>
    </p>
  </div>

  <div class="container-fluid" style="line-height: 1.6; font-size: 17.5px;width: 90%;">

    <div class="topic">
      <div class="mct">
        <h3><u><b>Introduction</b></u></h3>
      </div>
      <div class="jct">
        <p>
          The Virtual Labs Project started as an initiative from the Ministry of Human Resource and Development (MHRD) to
          create online interactive media which would help students learn difficult concepts in various domains. As a part
          of this initiative, a virtual laboratory for Basic Electronics has been developed. The objective of this lab is
          to
          perform experiments in the Basic Electronics labs virtually, and yet have close to real life experience. The
          platform is focused on learning aspects as much as on performing the experiments.
        </p>
      </div>
    </div>



    <div class="topic">

      <div class="mct">
        <h3><u><b>Virtual Labs for Teachers</b></u></h3>
      </div>
      <div class="jct">
        <p>
          Virtual Labs has the potential to bring paradigm shift in the way courses are taught today.For example, the
          teachers can take it to the class and demonstrate live examples while they are teaching difficult concepts to
          the
          students. Many difficult concepts are already integrated in the provided course icurriculum. It can also
          complement the existing labs, wherein the students can be given assignments before or after the lab. The teacher
          can actively coordinate that effort to enable inclusive learning for all the students.
        </p>
      </div>

    </div>
  
    <div class="topic">
      <div class="mct">
        <h3><u><b>
              Virtual Labs for Students
            </b></u></h3>
      </div>
      <div class="jct">
        <p>
          Students will get a feel of the real lab, as all lab equipment, components and lab behavior would be mimicked in
          the system. Extensive 2D animations is used to provide real like look and feel to the students. The instruments
          and components are modeled accurately to provide real like response. Interactive animations are also provided at
          a
          lot of places to enable student learning.
        </p>
      </div>

    </div>

    <div class="topic">

    <div class="mct">
      <h3><u><b>
            Key features of Virtual Labs
          </b></u></h3>
    </div>

    <div class="jct">
      <ul style="margin-left: 0; padding-left: 20px;">
        <li style=" list-style: circle;">Available 24X7. So students can learn difficult concepts at their own pace.
        </li>
        <li style=" list-style: circle;">Real looking components, to give the user a feel of the real laboratory.</li>
        <li style=" list-style: circle;">Step by step wizard to guide the students through the experiments.</li>
      </ul>
    </div>


    </div>


  </div>

  <!-- footer -->

  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/nitukofficial" target=”_blank” >
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" target=”_blank” href="https://twitter.com/NIT_Uttarakhand">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" target=”_blank”  href="https://www.linkedin.com/in/national-institute-of-technology-nit-uttarakhand-1b7648233/recent-activity/all/">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" target=”_blank”  href="https://www.instagram.com/nitukofficial/?igshid=YmMyMTA2M2Y%3D">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="/experiment">Labs</a></li>
      <li class="menu__item"><a class="menu__link" target=”_blank”  href="https://nituk.ac.in/">About</a></li>
      <li class="menu__item"><a class="menu__link" target=”_blank”  href="https://nituk.ac.in/">Contact</a></li>

    </ul>
    <p>&copy;2024 Mayank and Manas | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



  <!-- scripts -->
  <script src="/js/particles.js"></script>
  <script src="/js/app.js"></script>

  <!-- stats.js -->
  <!-- <script src="/js/stats.js"></script>
<script>
  var count_particles, stats, update;
  stats = new Stats;
  stats.setMode(0);
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.left = '0px';
  stats.domElement.style.top = '0px';
  document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles');
  update = function() {
    stats.begin();
    stats.end();
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
    }
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
</script> -->

</body>

</html>