<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <br>
    <h3 align="center" class="mct">Procedure</h3>
    <div style="margin-left:35px;width:auto;margin-right: 35px;"class="my-container" id="experiment-article-section-1-content">  
        
        <ol type="1">
            <b>Experiment</b><br><br>
            <li>1.The source voltage (V<sub>S</sub>) is set to 50mV at 1 KHz frequency.</li>
            <li>2.Keeping source voltage constant, vary the frequency from 50 Hz in regular steps.</li>
            <li>3.Set Source Resistance(R<sub>S</sub>)=100Ω.</li>
            <li>4.Set Collector Resistance(R<sub>C</sub>)=4000Ω, Set Emitter Resistance(R<sub>E</sub>)=1000Ω, Set Load Resistance(R<sub>L</sub>)=2000Ω.  </li>
            <li>5.Set Base Resistance1(R<sub>B1</sub>)=47 KΩ, Set Base Resistance2(R<sub>B2</sub>)=10KΩ.</li>
            <li>6.Set Coupling Capacitor1(C<sub>C1</sub>)=10μF, Set Coupling Capacitor2(C<sub>C2</sub>) =10μF, Set Bypass Capacitance(C<sub>E</sub>)=10μF.</li>
            <li>7.Click on "Add to Table" button to add the readings to the table.</li>
            <li>8.Vary the Frequency by keeping the resistances constant. </li>
            
            <li>9.Click on "Plot" button to plot the Magnitude graph of the CE Amplifier, Frequency(Hz) along X-axis and Magnitude(dB) along Y-axis.</li>
            <li>10.Click on "Clear" button to take another set of readings.</li>
        </ol> 

        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp13/image/ceampprc.png" style="width:600px;height:400px">
            </p><br>

        </div><br><br>

               
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>














