<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <br>
    <h3 align="center" class="mct">Procedure</h3>
    <div style="margin-left:35px;width:auto; margin-right: 35px;"class="my-container" id="experiment-article-section-2-content"> 
        <br><br>  
        <olstyle="margin-left: 0; padding-left: 20px;"type="I"></olstyle>

        
        <b>BJT Common Emitter - Output Characteristics</b>
        <olstyle="margin-left: 0; padding-left: 20px;>
            <li>Initially set rheostat R<sub>h1</sub> = 1 Ω and rheostat R<sub>h2</sub> = 1 Ω </li>
            <li>Set the Base current(I<sub>B</sub>)15 uA by adjusting the rheostat R<sub>h1</sub> </li>
            <li>Vary the  Collector-Emitter Voltage(V<sub>CE</sub>)is varied  by adjusting the rheostat R<sub>h2</sub>.</li>
            <li>Note the reading of Collector current(I<sub>C</sub>).</li>
            <li>Click on 'Plot' to plot the I-V characteristics of Common-Emitter configuration. A graph is drawn with V<sub>CE</sub> along X-axis and I<sub>C</sub> along Y-axis.</li>
            <li>Click on 'Clear' button to take another sets of readings</li>
            <li>Now set the Base Current(I<sub>B</sub>) to 20 uA</li>
            
            <div align="center">
                <p>
                    <img src="http://vlabs.iitkgp.ac.in/be/exp11/image/bjtce_pr.png" style="width:400px;height:300px">
                </p><br>
                Figure:2
            </div><br><br>
        </ol>
        </ol>
              
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>