<%- include ('../../partials/header') %>
<h2 style="margin-top: 200px; margin-left:250px ;">
    <ul>
      <li> <a href="/simulation3.1">
          
          1.BJT-Input Characteristics
      </a>
  </li>
  <br>
  <li> <a href="/simulation3.2">
      
      2.BJT-Output Characteristics
       </a>
  </li>

    </ul>
</h2>
  
    
  <%- include ('../../partials/footer') %>