<%- include ('../../partials/header') %>
    <!----Static Text  ------->
	<link rel="stylesheet" type="text/css" href="./stylesheets/maincss.css">
    <h3 class="mct">Procedure</h3>
    <div style="margin-left:35px;width:auto;margin-right: 35px;"class="my-container" id="experiment-article-section-1-content">  
        
        <ol type="1">
			<b> RC Phase Shift Oscillator</b><br><br>
			<li>There are two parts in this experiment.</li>
			<li>In Part 1, the initial values of the circuit are given in the 'Instruction' dropdown, students just have to set the values using the controls section.</li>
			<li>Also,Students can use left and right arrow keys to set a particular component value.</li>
			<img src="./images/im11.png" alt="simulator image" height="400px" width="800px">
			<li>After setting the values, there are two buttons available plot and clear. </li>
			<li>Plot will check whether all the values entered are correct and Output will be shown in the Output section.</li>
			<li>Clear will clear the contents of input boxes and the output graph.</li>
			<li>Students can check their calculated output with the simulator output in the check output section.</li>
			
    </ol>

	
	



	</div>
    <%- include ('../../partials/footer') %>